@import url('https://fonts.googleapis.com/css?family=Kulim+Park:200,300,400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Kulim Park', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  margin: 0 auto;
}

.top-head {
  background-color: #141a23;
  color: #fbfefe;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  border-bottom: 1px solid rgba(89, 20, 162, 0.3);
}

.l-head {
  display: flex;
}

h2 {
  font-size: 7rem;
  font-weight: 500;
  margin-right: 3rem;
  padding-top:5px;
}

.fa-search {
  color: #7ccc1b;
  font-size: 5rem;
  padding-top: 2rem;
}

.r-head {
  display: flex;
}
.head-btn {
  background-color: #8d16fd;
  color: #fffdff;
  padding: 2.5rem 5rem;
  font-size: 4rem;
  border-radius:10px;
  font-weight: 800;
  -webkit-box-shadow: 0px 7px 39px 1px rgba(66,40,105,1);
  -moz-box-shadow: 0px 7px 39px 1px rgba(66,40,105,1);
  box-shadow: 0px 7px 39px 1px rgba(66,40,105,1);
  letter-spacing: .5px;
}















.dates {
  /* height: 100%; */
  background-color: #141a23;
  /* padding: 0 2rem 0 0; */
  color: #fff;
  background: #141720; /* Old browsers */
background: -moz-linear-gradient(top, #141720 0%, #141720 36%, #141720 36%, #3c1764 100%, #3c1764 100%, #3c1764 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #141720 0%,#141720 36%,#141720 36%,#3c1764 100%,#3c1764 100%,#3c1764 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #141720 0%,#141720 36%,#141720 36%,#3c1764 100%,#3c1764 100%,#3c1764 101%);
}

.info-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  height: 70rem;
  overflow-x: hidden;
  width: 100%;
  padding-top: 3rem;
}

.box {
  border-right: 1px solid rgba(89, 20, 162, 0.1);
  border-left: 1px solid rgba(89, 20, 162, 0.1);
  padding: 1rem 0 0 1rem;

}

.box.feb {
  background: #141720; /* Old browsers */
background: -moz-linear-gradient(top, #141720 0%, #141720 36%, #141720 36%, #281743 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #141720 0%,#141720 36%,#141720 36%,#281743 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #141720 0%,#141720 36%,#141720 36%,#281743 100%);
}

.box.feb .date {
  font-weight: 600;
  font-size: 4.5rem;
  color: #fffeff;
  letter-spacing: 1px;
  padding-bottom: 10rem;
}

.box .time {
  color: rgba(255,255,255, 0.75);
  font-size: 4.2rem;
  margin-bottom: 15rem;
}

.box .time1 {
  padding-top: 16.4rem;
  /* margin-bottom: 6rem; */
}

.box .fa-angle-double-down {
  color: #60da51;
  font-size: 5rem;
}

.box .fa-angle-double-up {
  color: #ff3a2a;
  font-size: 5rem;
}


.gain {
  padding-top: 3.5rem;
  font-size: 3.2rem;
  font-weight: 300;
  color: rgba(255,255,255,0.3)
}


.total {
  font-size: 3.4rem;
  font-weight: 500;
  padding-top: 3.8rem;
  padding-right: 1.8rem;
}

















.balance-container {
  background-color: #141a23;
  height: 80vh;
  padding: 5rem 3rem;
  color: white;
}

.bit-balances {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.balance-share {
  display: flex;
  width: 100%;
  max-width: 45%;
  margin-bottom: 5rem;
}

.b-text {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 5rem;
  padding-top: 0.5rem;
}

.shr-btn-container {
    position: absolute;
}

.balance-share a {
  color: white;
  background-color: #5b149e;
  padding: 2rem 4rem;
  border-radius: 10px;
  position: relative;
  top: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 5px;
  border: 1.2px solid #aa11ff;
  outline: none;
}


.bit-type {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bit-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bit-box .bit-left {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: green;
}

.dot.purple {
  background-color: #a915fd;
}

.dot.orange {
  background-color: #fa7607;
}

.dot.green {
  background-color: #79d822;
}

.dot.teal {
  background-color: #00e3fa;
}

.fab {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.1);
}

.bit-box .bit-left h4 {
  margin-left: 2rem;
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 4px;
}

.bit-box .bit-right {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.bit-box .bit-right span {
  font-size: 5rem;
  letter-spacing: 4px;
  font-weight: 500;
}

.bit-box .bit-right .purple {
  color: #a915fd;
}

.bit-box .bit-right .orange {
  color: #fa7607;
}

.bit-box .bit-right .green {
  color: #79d822;
}

.bit-box .bit-right .teal {
  color: #00e3fa;
}





















.wallet-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.left-wallet h4 {
  font-size: 3.8rem;
  color: rgba(255,255,255,0.3);
  font-weight: 500;
  margin-bottom: 1.8rem;
  letter-spacing: 2px;
}


.left-wallet p {
  font-size: 4.3rem;
  font-weight: 400;
}

.fa-file {
  color: #8813d3;
  padding-left: 5px;
}


.qr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-qr {
  font-size: 3.6rem;
  font-weight: 200;
  border: 3px solid #2c2e47;
  padding: 2.9rem 4rem;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
}












/**/
